bin/
obj/
.vs/
.idea/
*.user
artifacts/
dist/
_tmp/
__pycache__/
node_modules/
build.log
*.zip
*.blend1
*.blend1.meta

/unity/.utmp/
/unity/[Ll]ibrary/
/unity/[Tt]emp/
/unity/[Oo]bj/
/unity/[Bb]uild/
/unity/[Bb]uilds/
/unity/[Ll]ogs/
/unity/[Uu]ser[Ss]ettings/
/unity/[Mm]emoryCaptures/
/unity/[Rr]ecordings/
/unity/*.csproj
/unity/*.sln
/unity/*.slnx
/unity/[Aa]ssets/Plugins/Editor/JetBrains*
/unity/[Aa]ssets/[Ss]ceneDependencyCache*
*.DotSettings.user
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*
*.unitypackage
*.unitypackage.meta
